{%extends "base.html"%}
{%load static%}
{%block content%}
<!-- Include the Tablesort library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js"></script>

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->

<style>
#input:focus {
    outline: none; /* Remove default focus outline */
    border: none !important; /* Add !important to ensure it takes precedence */
}



</style>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">

			<img src="{%static 'jiys.png'%}" alt="" style="width: 50px; height: auto;  margin: 10px; margin-top:20px;">
			<!-- <i class='bx bxs-smile'></i> -->
			<span class="text">ITD112</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="{% url 'final:index' %}">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<!-- <li>
				<a href="#">
					<i class='bx bxs-brush-alt'></i>
					<span class="text">Data Processing</span>
				</a>
			</li> -->
			<li>
				<a href="{% url 'final:analytics' %}">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Choropleth Map</span>
				</a>
			</li>
			<li>
				<a href="{% url 'final:bubbleMap' %}">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Bubble Map</span>
				</a>
			</li>
			<li>
				<a href="{% url 'final:others' %}">
					<i class='bx bxs-group' ></i>
					<span class="text">Others</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1 style="font-size: 28px; font-weight: bold;">Philippine Dengue Cases and Deaths 2016-2021</h1>
			
						
					<!-- <ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul> -->
				</div>
			
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-virus'></i>
					<span class="text">
						<h3>{{total_case}}</h3>
						<p>Total Cases</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-skull'></i>
					<span class="text">
						<h3>{{total_death}}</h3>
						<p>Total Deaths</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-donate-blood'></i>
					<span class="text">
						<h3>{{cfr}}</h3>
						<p>Death Ratio</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Dataset</h3>
						<form method="get" action="{% url 'final:index' %}">
							<input style="border-radius: 50px;
								height: 30px;
								background-color: rgb(230, 230, 230);
								width: 300px;
								padding: 20px;
								font-family: inherit;
								border: none" type="text" id="input" name="search" placeholder="Search..." value="{{ search_query }}" />
							<button type="submit" style="border: none; background: none;"><i class='bx bx-search'></i></button>
							
						</form>
					</div>
				
					<table id="sortable-table" class="table table-striped" style="font-size: 13px;">
						<thead>
							<tr>
								<th scope="col" class="sortable-header" data-sort-method='alpha' data-sort-default aria-sort="none">City <i class='bx bx-filter'></i></th>
								<th scope="col"class="sortable-header" data-sort-method='alpha' data-sort-default aria-sort="none">Cases <i class='bx bx-filter'></i></th>
								<th scope="col"class="sortable-header" data-sort-method='alpha' data-sort-default aria-sort="none">Deaths <i class='bx bx-filter'></i></th>
								<th scope="col"class="sortable-header" data-sort-method='alpha' data-sort-default aria-sort="none">Region <i class='bx bx-filter'></i></th>
							</tr>
						</thead>
						<tbody>
							{% if items %}
								{% for city_data in items %}
									<tr>
										<td>{{ city_data.city }}</td>
										<td>{{ city_data.total_cases }}</td>
										<td>{{ city_data.total_deaths }}</td>
										<td>{{ city_data.region }}</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="4">No results found.</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				
					<!-- Add pagination links for the table -->
					<div class="pagination">
						<span class="step-links">
							{% if items.has_previous %}
								<a href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}">&laquo; first</a>
								<a href="?page={{ items.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">previous</a>
							{% endif %}
				
							<span class="current">
								Page {{ items.number }} of {{ items.paginator.num_pages }}.
							</span>
				
							{% if items.has_next %}
								<a href="?page={{ items.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">next</a>
								<a href="?page={{ items.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}">last &raquo;</a>
							{% endif %}
						</span>
					</div>
				</div>











			
				<div class="todo" style="margin-left: 2%; width: 40%;">
					<div class="head">
						<h3>Dataset Info</h3>
						<i class='bx bx-plus'></i>
						<i class='bx bx-filter'></i>
					</div>
					<p style="font-size: 13px;">
						This web application uses the Philippine Dengue deaths and cases per each municipalities from the year 2016-2021.
						The dataframe has eight columns: City, deaths, region, latitude, longitude, month, and year. The dataframe has 32180 total entries. The data shows the number of deaths in various cities and regions across the country in different months and years. The data can be used to analyze the trends and patterns of the disease mortality.</p>
						<br> 
						
						<p style="font-size: 13px;">Link to the dataset: <a href="https://data.humdata.org/dataset/philippine-dengue-cases-and-deaths"> DOH-Epi Dengue Data 2016-2021</a>.
					</p>
				</div>
			</div>


		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

<!-- Add this script at the end of the body tag -->
<script>
	document.addEventListener('DOMContentLoaded', function () {
	  // Initialize the sortable table
	  var sortableTable = new Tablesort(document.getElementById('sortable-table'));
  
	  // Add a listener to the filter icon for the 'City' column
	  document.querySelector('#sortable-table thead th:nth-child(1)').addEventListener('click', function () {
		// Toggle the sorting order when the filter icon is clicked
		sortableTable.sort(0, {
		  descending: !sortableTable.ths[0].getAttribute('aria-sort') || sortableTable.ths[0].getAttribute('aria-sort') === 'ascending'
		});
	  });
	});
  </script>
  
 

	{%endblock content%}

		
